{
	servers {
		metrics
	}
}

{$APP_DOMAIN} {
    basic_auth /pulse* {
		# Username "Bob", password "hiccup"
		Bob $2a$14$Zkx19XLiW6VYouLHR5NmfOFU0z2GTNmpkT/5qqR7hx4IjWJPDhjvG
	}
	basic_auth /horizon/* {
		Bob $2a$14$Zkx19XLiW6VYouLHR5NmfOFU0z2GTNmpkT/5qqR7hx4IjWJPDhjvG
    }
	reverse_proxy app:8000
    metrics /metrics
}

{$PMA_APP_DOMAIN} {
    basic_auth * {
        Bob $2a$14$Zkx19XLiW6VYouLHR5NmfOFU0z2GTNmpkT/5qqR7hx4IjWJPDhjvG
    }
	reverse_proxy phpmyadmin
}
